@model avaliacao_1.Models.ContaLuzModel

@{
    ViewData["Title"] = "Create - Contas de Luz";
}

<div class="card text-center mx-auto col-6 p-0">
    <div class="card-header">
        <h3 class="text-center">Conta de Luz</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Adicionar</h5>
        <div class="form-group text-left">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    </div>
</div>